<h1>Detalle de consulta</h1>

<div class="row" ng-init="ctrl.getParameter()">
        <div class="row">
            {{ ctrl.appointment.reasonAppointment }}
        </div>
        <div class="row">
            {{ ctrl.appointment.homeVisit }}

        </div>
        <div class="row">
            {{ ctrl.appointment.accompanied }}

        </div>
        <div class="row">
            {{ ctrl.appointment.observations }}

        </div>
        <div class="row">
            {{ ctrl.appointment.price }}

        </div>
        <div class="row">
            {{ ctrl.appointment.percentageAid }}

        </div>
</div>