<h1>Agregar doctor</h1>

<div class="row" ng-init="ctrl.getParameter(false)">
    <form class="col s12">
        <div class="col s6">
            <div class="row">
                <div class="input-field col s8">
                    <input id="name" type="text" class="validate" ng-model="ctrl.doctor.name" tabindex="1" autofocus ng-blur="ctrl.validate('name')">
                    <label for="name">Nombre</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <input id="lastname" type="text" class="validate" ng-model="ctrl.doctor.lastname" tabindex="2" ng-blur="ctrl.validate('lastname')">
                    <label for="lastname">Apellido</label>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="row">
                <div class="input-field col s12">
                    <select id="specialtyList" class="browser-default" ng-options="specialty.name for specialty in ctrl.specialtyList track by specialty.id"
                            ng-model="ctrl.doctor.specialty" tabindex="3" ng-change="ctrl.validateSelection('specialtyList')">
                    </select>
                    <label for="specialtyList">Especialidad</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light right neutral-green" ng-click="ctrl.addDoctor(ctrl.doctor)">
                    {{ 'Agregar' | uppercase }}
                </button>
            </div>
        </div>
    </form>
</div>