<h1 class="title">Agregar doctor</h1>

<div class="row">
    <form class="col s12">
        <div class="col s6">
            <div class="row">
                <div class="input-field col s8">
                    <label for="name">Nombre</label>
                    <input id="name" name="Nombre" type="text" class="validate" ng-model="ctrl.doctor.name" tabindex="1" autofocus data-field="metaName">
                    <span id="metaName" class="error"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <label for="lastname">Apellido</label>
                    <input id="lastname" name="Apellido" type="text" class="validate" ng-model="ctrl.doctor.lastname" tabindex="2" data-field="metaLastname">
                    <span id="metaLastname" class="error"></span>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="row">
                <div class="input-field col s10">
                    <label for="specialtyList" class="active">Especialidad</label>
                    <select id="specialtyList" name="Especialidad" class="browser-default" ng-options="specialty.name for specialty in ctrl.specialtyList track by specialty.id"
                            ng-init="ctrl.loadSpecialities()" ng-model="ctrl.doctor.specialty" tabindex="3" data-field="metaSpecialty">
                    </select>
                    <span id="metaSpecialty" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <a class="waves-effect waves-teal btn-flat" ui-sref="menu.doctor">{{ 'Cancelar' | uppercase }}</a>
                <button class="btn waves-effect waves-light right neutral-green" ng-click="ctrl.addDoctor(ctrl.doctor)">
                    {{ 'Agregar' | uppercase }}
                </button>
            </div>
        </div>
    </form>
</div>