<h1 class="title">Actualizar usuario <small>{{ ctrl.user.username | lowercase }}</small></h1>

<div class="row" ng-init="ctrl.getParameter()">
    <form class="col s12">
        <div class="row">
            <div class="col s6">
                <div class="row">
                    <div class="input-field col s10">
                        <div class="input-field col s4">
                            <label for="nationalityList" class="active">Nacionalidad</label>
                            <select id="nationalityList" name="Nacionalidad" class="browser-default" ng-options="nationality.name for nationality in ctrl.nationalityList track by nationality.id"
                                    ng-init="ctrl.loadNationalities()" ng-model="ctrl.user.personal.nationality" tabindex="2" data-field="metaNationality">
                            </select>
                            <span id="metaNationality" class="error"></span>
                        </div>
                        <div class="input-field col s6">
                            <label for="document" class="active">Cédula de identidad</label>
                            <input id="document" name="Cédula"  type="text" class="validate" ng-model="ctrl.user.personal.document" tabindex="1" data-field="metaDocument">
                            <span id="metaDocument" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8">
                        <label for="name" class="active">Nombre</label>
                        <input id="name" name="Nombre" type="text" class="validate" ng-model="ctrl.user.personal.name" tabindex="3" data-field="metaName">
                        <span id="metaName" class="error"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8">
                        <label for="lastname" class="active">Apellido</label>
                        <input id="lastname" name="Apellido" type="text" class="validate" ng-model="ctrl.user.personal.lastname" tabindex="4" data-field="metaLastname">
                        <span id="metaLastname" class="error"></span>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="row">
                    <div class="input-field col s10">
                        <select id="statusList" name="Estado" class="browser-default" ng-options="status.name for status in ctrl.statusList track by status.id"
                                ng-init="ctrl.loadStatus()" ng-model="ctrl.user.status" tabindex="5" data-field="metaStatus">
                        </select>
                        <label for="statusList" class="active">Estado</label>
                        <span id="metaStatus" class="error"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <select id="roleList" name="Rol de usuario" class="browser-default" ng-options="role.name for role in ctrl.roleList track by role.id"
                                ng-init="ctrl.loadRoles()" ng-model="ctrl.user.roles" tabindex="6" data-field="metaRole">
                        </select>
                        <label for="roleList" class="active">Rol de usuario</label>
                        <span id="metaRole" class="error"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <div class="input-field col s6">
                            <label for="password" class="active">Contraseña</label>
                            <input id="password" name="Contraseña" type="password" class="validate" ng-model="ctrl.user.password" tabindex="6" data-field="metaPassword" ng-focus="ctrl.retype = true">
                            <span id="metaPassword" class="error"></span>
                        </div>
                        <div class="input-field col s6" ng-show="ctrl.retype">
                            <label for="retypePassword" class="active">Repetir contraseña</label>
                            <input id="retypePassword" name="Repetir Contraseña" type="password" class="validate" ng-model="ctrl.user.retypePassword" tabindex="7" data-field="metaRetypePassword">
                            <span id="metaRetypePassword" class="error"></span>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="input-field col s12">
                <a class="waves-effect waves-teal btn-flat" ui-sref="menu.user">{{ 'Cancelar' | uppercase }}</a>

                <button class="btn waves-effect waves-light right neutral-green" ng-click="ctrl.updateUser(ctrl.user)">
                    {{ 'Editar' | uppercase }}
                </button>
            </div>
        </div>
    </form>
</div>