<h1>Actualizar usuario</h1>

<div class="row" ng-init="ctrl.getParameter(true)">
    <form class="col s12">
        <div class="row">
            <div class="col s6">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.user.personal.document">
                        <label for="icon_prefix">Cédula de identidad</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.user.personal.name">
                        <label for="icon_prefix">Nombre</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.user.personal.lastname">
                        <label for="icon_prefix">Apellido</label>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="row">
                    <div class="input-field col s6">
                        <div class="input-field col s12">
                            <select id="roleList" class="browser-default" ng-options="role.name for role in ctrl.roleList track by role.id"
                                    ng-model="ctrl.user.role">
                            </select>
                            <label for="icon_prefix">Rol de usuario</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.user.username">
                        <label for="icon_prefix">Nombre de usuario</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="icon_prefix" type="password" class="validate" ng-model="ctrl.user.password">
                        <label for="icon_prefix">Contraseña</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="icon_prefix" type="password" class="validate" ng-model="ctrl.user.retypePassword">
                        <label for="icon_prefix">Repetir contraseña</label>
                    </div>
                </div>


            </div>
        </div>


        <div class="row">
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light right neutral-green" ng-click="ctrl.addDoctor(ctrl.doctor)">
                    {{ 'Editar' | uppercase }}
                </button>
            </div>
        </div>
    </form>
</div>