<div class="row" ng-init="ctrl.getAppointmentList()">
    <div class="row">
        <h1>Listar las consultas de {{ ctrl.patient.historyNumber }}</h1>
    </div>
    <div class="row">
        <table class="bordered">
            <thead>
                <th>
                    Fecha de consultas
                </th>
                <th>
                    Motivo de la consulta
                </th>
                <th>
                    Médico referido
                </th>
                <th>
                    Porcentaje de ayuda brindado
                </th>
            </thead>
            <tbody ng-repeat="appointment in ctrl.patient.appointments">
                <tr>
                    <td>
                        {{ appointment.date | date : 'shortDate'  }}
                    </td>
                    <td>
                        {{ appointment.reasonAppointment }}
                    </td>
                    <td>
                        {{ appointment.doctorLastname + ', ' + appointment.doctorName }}
                    </td>
                    <td>
                        {{ appointment.percentageAid + '%'}}
                    </td>
                    <td>
                        <a ui-sref="menu.appointment-detail({ patientId: ctrl.patient.id ,appointmentId: appointment.id })">
                            <i class="material-icons">info</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
