<div class="row" ng-init="ctrl.getUserList()">
    <div class="row">
        <div class="col s11">
            <h1>Listado de usuarios</h1>
        </div>
        <div class="col s1">
            <button ui-sref="menu.user-add">Agregar</button>
        </div>

    </div>
    <div class="row">
        <table class="bordered">
            <thead>
            <th>
                Cédula
            </th>
            <th>
                Nombre completo
            </th>
            <th>
                Rol
            </th>
            <th>
                Estado
            </th>
            </thead>
            <tbody ng-repeat="user in ctrl.userList">
                <tr>
                    <td>
                        {{ user.personal.nationality + ' - ' + user.personal.document }}
                    </td>
                    <td>
                        {{ user.personal.lastname + ', ' + user.personal.name  }}
                    </td>

                    <td>
                        {{ user.roles == 'ROLE_ADMIN' ? 'Administrador' : 'Usuario' }}
                    </td>
                    <td>
                        {{ user.status.name }}
                    </td>
                    <td>
                        <a ui-sref="menu.user-update({ userId: user.id })">
                            <i class="material-icons">mode_edit</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>