<div class="row" ng-init="ctrl.getDoctorList()">
    <div class="row">
        <div class="col s11">
            <h1>Doctores</h1>
        </div>
        <div class="col s1">
            <button class="btn-floating btn-large waves-effect waves-light green" ui-sref="menu.doctor-add"><i class="material-icons">add</i></button>
        </div>
    </div>
    <div class="row">
        <table class="bordered">
            <thead>
            <th>
                Nombre completo
            </th>
            <th>
                Especialidad
            </th>
            <th>
                Estado
            </th>
            </thead>
            <tbody ng-repeat="doctor in ctrl.doctorList">
                <tr>
                    <td>
                        {{ doctor.lastname + ', ' + doctor.name  }}
                    </td>
                    <td>
                        {{ doctor.specialty.name }}
                    </td>
                    <td>
                        {{ doctor.status.name }}
                    </td>
                    <td>
                        <a ui-sref="menu.doctor-update({ doctorId: doctor.id })">
                            <i class="material-icons">mode_edit</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
