<form>
    <div class="row">
        <h2><span>2</span> {{ 'contacto' | uppercase }}</h2>
        <div class="col s6">
            <div class="row">
                <div class="input-field col s10">
                    <div class="input-field col s12">
                        <label for="stateList" class="active">Estado</label>
                        <select id="stateList" name="Estado" class="browser-default" ng-options="state.name for state in ctrl.stateList track by state.id" ng-init="ctrl.loadStates()"
                                ng-model="ctrl.patient.address.state" ng-change="ctrl.loadDistricts(ctrl.patient.address.state)" tabindex="1" data-field="metaState">
                        </select>
                        <span id="metaState"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10">
                    <div class="input-field col s12">
                        <label for="districtList" class="active">Parroquia</label>
                        <select id="districtList" name="Parroquia" class="browser-default" ng-options="district.name for district in ctrl.districtList track by district.id"
                                ng-model="ctrl.patient.address.district" tabindex="2" data-field="metaDistrict">
                        </select>
                        <span id="metaDistrict"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="row">
                <div class="input-field col s10">
                    <textarea id="addressDetail" name="Detalle de dirección" class="materialize-textarea" ng-model="ctrl.patient.address.detail" tabindex="3" data-field="metaAddressDetail"></textarea>
                    <label for="addressDetail">Detalle de dirección</label>
                    <span id="metaAddressDetail"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10">
                    <input id="phonenumber" name="Teléfono" class="validate" ng-model="ctrl.patient.phonenumber" tabindex="4" data-field="metaPhonenumber" >
                    <label for="phonenumber">Teléfono de contacto</label>
                    <span id="metaPhonenumber"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <button class="waves-effect waves-teal btn-flat left neutral-green" ui-sref="menu.patient-add({ patientStep: 1 })">
                {{ 'Anterior' | uppercase }}
            </button>
        </div>
        <div class="input-field col s6" >
            <button class="btn waves-effect waves-light right neutral-green" ng-click="ctrl.saveSecondStep(patient)">
                {{ 'Siguiente' | uppercase }}
            </button>
        </div>
    </div>
</form>