 <form>
    <div class="row">
        <h2><span>3</span> {{ 'escolaridad y ocupación' | uppercase }}</h2>
        <div class="col s6">
            <div class="row">
                <div class="input-field col s6">
                    <div class="input-field col s12">
                        <select id="scholarshipList" name="Escolaridad" class="browser-default" ng-options="scholarship.name for scholarship in ctrl.scholarshipList track by scholarship.id"
                                ng-model="ctrl.patient.scholarship" ng-change="ctrl.toggleScholarship(ctrl.patient.scholarship)" tabindex="1" data-field="metaScholarship">
                        </select>
                        <label for="scholarshipList">Escolaridad</label>
                        <span id="metaScholarship"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="scholarshipSpecialty" name="Título" type="text" class="validate" ng-model="ctrl.patient.scholarshipSpecialty" ng-disabled="ctrl.enabledScholarship" tabindex="2" data-field="metaScholarshipSpecialty">
                    <label for="scholarshipSpecialty">Título</label>
                    <span id="metaScholarshipSpecialty"></span>
                </div>
            </div>

        </div>
        <div class="col s6">
            <div class="row">
                <div class="input-field col s6">
                    <div class="input-field col s12">
                        <select id="employeeList" name="Empleado" class="browser-default" ng-options="employee.name for employee in ctrl.employeeList track by employee.id"
                                ng-model="ctrl.patient.employee" ng-change="ctrl.toggleOccupation(ctrl.patient.employee)" tabindex="3" data-field="metaEmployee">
                        </select>
                        <label for="employeeList">Empleado</label>
                        <span id="metaEmployee"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="enabledOccupation" name="Ocupación" type="text" class="validate" ng-model="ctrl.patient.occupation" ng-disabled="ctrl.enabledOccupation" tabindex="4" data-field="metaEnabledOccupation">
                    <label for="enabledOccupation">Ocupación</label>
                    <span id="metaEnabledOccupation"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="institution" name="Intitución" type="text" class="validate" ng-model="ctrl.patient.institution" ng-disabled="ctrl.enabledOccupation" tabindex="5" data-field="metainstitution">
                    <label for="institution">Institución en la que labora</label>
                    <span id="metainstitution"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <button class="waves-effect waves-teal btn-flat left neutral-green" ui-sref="menu.patient-add({ patientStep: 2 })">
                {{ 'Anterior' | uppercase }}
            </button>
        </div>
        <div class="input-field col s6" ng-hide="ctrl.occupationStep">
            <button class="btn waves-effect waves-light right neutral-green" ui-sref="menu.patient-add({ patientStep: 4 })">
                {{ 'Siguiente' | uppercase }}
            </button>
        </div>
    </div>

 </form>

