<form>
        <div class="row">
            <h2><span>1</span> {{ 'identificación del usuario' | uppercase }}</h2>
            <div class="col s6">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.patient.firstName">
                        <label for="icon_prefix">Primer nombre</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.patient.secondName">
                        <label for="icon_prefix">Segundo nombre</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.patient.firstLastname">
                        <label for="icon_prefix">Primer apellido</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.patient.secondLastname">
                        <label for="icon_prefix">Segundo apellido</label>
                    </div>
                </div>

            </div>
            <div class="col s6">
                <div class="row">
                    <div class="input-field col s6">
                        <div class="input-field col s12">
                            <select id="nationalityList" class="browser-default" ng-options="nationality.name for nationality in ctrl.nationalityList track by nationality.id"
                                    ng-model="ctrl.patient.nationality" ng-init="ctrl.getNationalities()">
                            </select>
                            <label for="icon_prefix">Nacionalidad</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.patient.document">
                        <label for="icon_prefix">Cédula de Identidad</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <div class="input-field col s12">
                            <select id="genderList" class="browser-default" ng-options="gender.name for gender in ctrl.genderList track by gender.id"
                                    ng-model="ctrl.patient.gender">
                            </select>
                            <label for="icon_prefix">Sexo</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="icon_prefix" type="date" class="validate" ng-model="ctrl.patient.birthday">
                        <label for="icon_prefix">Fecha de nacimiento</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <button class="btn waves-effect waves-light right neutral-green" ng-click="ctrl.nextStep()">
                    {{ 'Siguiente' | uppercase }}
                </button>
            </div>
        </div>
</form> 