<div class="row">
    <div class="col s11">
        <h1 class="title">Especialidades atendidas</h1>
    </div>      
    <div class="col s1">
        <button class="btn-floating btn-large waves-effect waves-light green" ui-sref="menu.specialty-add"><i class="material-icons">add</i></button>
    </div>
</div>

<div class="row" ng-init="ctrl.getSpecialtyList()">
    <div class="row">
        <table class="bordered">
            <thead>
            <th>
                Nombre de especialidad
            </th>
            </thead>
            <tbody ng-repeat="specialty in ctrl.specialtyList">
            <tr>
                <td>
                    <p>{{ specialty.name  }}</p>
                </td>
                <td>
                    <a ui-sref="menu.specialty-update({ specialtyId: specialty.id })">
                        <i class="material-icons">mode_edit</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
