<div class="row" ng-init="ctrl.getSpecialtyList()">
    <div class="row">
        <h1>Especialidades atendidas</h1>
    </div>
    <div class="row">
        <table class="bordered">
            <thead>
            <th>
                Nombre de especialidad
            </th>
            </thead>
            <tbody ng-repeat="specialty in ctrl.specialtyList">
            <tr>
                <td>
                    {{ specialty.name  }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
