 <form>
    <div class="row">
        <h2 class="title"><span><strong>3</strong></span> resultado de la entrevista</h2>
        <div class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <div class="input-field col s12">
                        <label for="result">Resultados</label>
                        <textarea id="result" name="Resultado" class="materialize-textarea" ng-model="ctrl.appointment.result" tabindex="1" data-field="metaResult"></textarea>
                        <span id="metaResult" class="error"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <div class="input-field col s12">
                        <label for="homeVisitList" class="active">Necesidad de visita domiciliaria</label>
                        <select id="homeVisitList" name="Visita domiciliaria" class="browser-default" ng-options="option.name for option in ctrl.homeVisitList track by option.id"
                                ng-model="ctrl.appointment.homeVisit" ng-change="ctrl.toggleOccupation(ctrl.appointment.homeVisit)" tabindex="2" data-field="metaHomeVisit">
                        </select>
                        <span id="metaHomeVisit" class="error"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <div class="input-field col s12">
                        <label for="doctorList" class="active">Médico asignado</label>
                        <select id="doctorList" name="Médico asignado" class="browser-default" ng-options="doctor.name for doctor in ctrl.doctorList track by doctor.id"
                                ng-model="ctrl.appointment.percentageAid" ng-change="ctrl.toggleOccupation(ctrl.appointment.doctor)" tabindex="3" data-field="metaDoctor">
                        </select>
                        <span id="metaDoctor" class="error"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <div class="input-field col s12">
                        <label for="observations">Especifique/ Observaciones</label>
                        <textarea id="observations" name="Observaciones" class="materialize-textarea" ng-model="ctrl.appointment.observations" tabindex="4" data-field="metaObservations"></textarea>
                        <span id="metaObservations" class="error"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <a class="waves-effect waves-teal btn-flat" ui-sref="menu.appointment({ patientId: 1 })">{{ 'Cancelar' | uppercase }}</a>
                    <button class="waves-effect waves-teal btn-flat left neutral-green" ui-sref="menu.appointment-add({ patientId : ctrl.patient.id, appointmentStep: 2 })">
                        {{ 'Anterior' | uppercase }}
                    </button>
                </div>
                <div class="input-field col s6" >
                    <button class="btn waves-effect waves-light right neutral-green" ng-click="ctrl.saveThirdStep()">
                        {{ 'Siguiente' | uppercase }}
                    </button>
                </div>
            </div>
    </div>

 </form>

