 <form>
    <div class="row">
        <h2><span>4</span> {{ 'apoyo económico' | uppercase }}</h2>
        <div class="col s12">

            <div class="row">
                <div class="input-field col s6">
                    <input id="price" name="Precio" type="text" class="validate" ng-model="ctrl.appointment.price" tabindex="1" autofocus data-field="metaPrice">
                    <label for="price">Precio de consulta</label>
                    <span id="metaPrice" class="error"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <div class="input-field col s12">
                        <select id="percentageAidList" name="Apoyo brindado" class="browser-default" ng-options="option.name for option in ctrl.percentageAidList track by option.id"
                                ng-model="ctrl.appointment.percentageAid" ng-change="ctrl.toggleOccupation(ctrl.appointment.percentageAid)" tabindex="2" autofocus data-field="metaPercentageAid">
                        </select>
                        <label for="percentageAidList" class="active">Apoyo brindado</label>
                        <span id="metaPercentageAid" class="error"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <button class="waves-effect waves-teal btn-flat left neutral-green" ui-sref="menu.appointment-add({ patientId : ctrl.patient.id, appointmentStep: 3 })">
                        {{ 'Anterior' | uppercase }}
                    </button>
                </div>
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-light right neutral-green" ng-click="ctrl.addAppointment(ctrl.appointment)">
                        {{ 'Agregar' | uppercase }}
                    </button>
                </div>
            </div>

        </div>
    </div>
 </form>    
