 <form>
    <div class="row">
        <h2><span>1</span> {{ 'entrevista social' | uppercase }}</h2>
        <div class="col s12">

            <div class="row">
                <div class="input-field col s6">
                    <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.patient.scholarshipSpecialty" ng-disabled="ctrl.enabledScholarship">
                    <label for="icon_prefix">Número de historia</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.patient.occupation" ng-disabled="ctrl.enabledOccupation">
                    <label for="icon_prefix">Referido por</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <div class="input-field col s12">
                        <select id="optionList" class="browser-default" ng-options="option.name for option in ctrl.optionList track by option.id"
                                ng-model="ctrl.appointment.accompanied" ng-change="ctrl.toggleOccupation(ctrl.appointment.employee)">
                        </select>
                        <label for="icon_prefix">¿Asiste acompañado?</label>
                    </div>
                </div>
            </div>
    </div>

    <div class="row">

        <div class="input-field col s6" ng-hide="ctrl.occupationStep">
            <button class="btn waves-effect waves-light right neutral-green" ui-sref="menu.appointment-add({ patientId : ctrl.patient.id, appointmentStep: 2 })">
                {{ 'Siguiente' | uppercase }}
            </button>
        </div>
    </div>

 </form>

