 <form>
    <div class="row">
        <h2><span>3</span> {{ 'resultado de la entrevista' | uppercase }}</h2>
        <div class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <div class="input-field col s12">
                        <textarea id="result" name="Resultado" class="materialize-textarea" ng-model="ctrl.appointment.result" tabindex="1" data-field="metaResult"></textarea>
                        <label for="result">Resultados</label>
                        <span id="metaResult"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <div class="input-field col s12">
                        <select id="homeVisit" name="Visita domiciliaria" class="browser-default" ng-options="option.name for option in ctrl.optionList track by option.id"
                                ng-model="ctrl.appointment.homeVisit" ng-change="ctrl.toggleOccupation(ctrl.appointment.homeVisit)" tabindex="2" data-field="metaHomeVisit">
                        </select>
                        <label for="homeVisit">Necesidad de visita domiciliaria</label>
                        <span id="metaHomeVisit"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <div class="input-field col s12">
                        <select id="percentageAid" name="Porcentaje" class="browser-default" ng-options="doctor.name for doctor in ctrl.doctorList track by doctor.id"
                                ng-model="ctrl.appointment.percentageAid" ng-change="ctrl.toggleOccupation(ctrl.appointment.percentageAid)" tabindex="3" data-field="metaPercentageAid">
                        </select>
                        <label for="percentageAid">Médico asignado</label>
                        <span id="metaPercentageAid"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <div class="input-field col s12">
                        <textarea id="observations" name="Observaciones" class="materialize-textarea" ng-model="ctrl.appointment.observations" tabindex="4" data-field="metaObservations"></textarea>
                        <label for="observations">Especifique/ Observaciones</label>
                        <span id="metaObservations"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <button class="waves-effect waves-teal btn-flat left neutral-green" ui-sref="menu.appointment-add({ patientId : ctrl.patient.id, appointmentStep: 2 })">
                        {{ 'Anterior' | uppercase }}
                    </button>
                </div>
                <div class="input-field col s6" >
                    <button class="btn waves-effect waves-light right neutral-green" ng-click="ctrl.saveThirdStep()">
                        {{ 'Siguiente' | uppercase }}
                    </button>
                </div>
            </div>
    </div>

 </form>

