 <form>
    <div class="row">
        <h2><span>2</span> {{ 'motivo de la consulta' | uppercase }}</h2>
        <div class="col s12">
             <div class="row">
                <div class="input-field col s6">
                    <div class="input-field col s12">
                        <label for="reasonAppointment">Explique brevemente el motivo por el que asiste a CSSI - CAP</label>
                        <textarea id="reasonAppointment" name="Razon de visita" class="materialize-textarea" ng-model="ctrl.appointment.reasonAppointment" tabindex="1" data-field="metaReasonAppointment"></textarea>
                        <span id="metaReasonAppointment" class="error"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <div class="input-field col s12">
                        <label for="expectationsPatient">¿Qué espera del CSSI - Atención al paciente?</label>
                        <textarea id="expectationsPatient" name="Expectativa" class="materialize-textarea" ng-model="ctrl.appointment.expectationsPatient" tabindex="3" data-field="metaExpectationsPatient"></textarea>
                        <span id="metaExpectationsPatient" class="error"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <button class="waves-effect waves-teal btn-flat left neutral-green" ui-sref="menu.appointment-add({ patientId : ctrl.patient.id, appointmentStep: 1 })">
                {{ 'Anterior' | uppercase }}
            </button>
        </div>
        <div class="input-field col s6" ng-hide="ctrl.occupationStep">
            <button class="btn waves-effect waves-light right neutral-green" ng-click="ctrl.saveSecondStep()">
                {{ 'Siguiente' | uppercase }}
            </button>
        </div>
    </div>

 </form>

