 <form>
    <div class="row">
        <h2><span>1</span> {{ 'entrevista social' | uppercase }}</h2>
        <div class="col s12">

            <div class="row">
                <div class="input-field col s6">
                    <input id="referredToBy" name="Referido por" type="text" class="validate" ng-model="ctrl.appointment.referredToBy" ng-disabled="ctrl.enabledOccupation" tabindex="1" autofocus data-field="metaReferredToBy">
                    <label for="referredToBy">Referido por</label>
                    <span id="metaReferredToBy"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <div class="input-field col s12">
                        <select id="accompanied" name="Asiste acompañad" class="browser-default" ng-options="option.name for option in ctrl.accompaniedList track by option.id"
                                ng-model="ctrl.appointment.accompanied" ng-change="ctrl.toggleOccupation(ctrl.appointment.accompanied)" tabindex="2" autofocus data-field="metaAccompanied">
                        </select>
                        <label for="accompanied">¿Asiste acompañado?</label>
                        <span id="metaAccompanied"></span>
                    </div>
                </div>
            </div>
    </div>

    <div class="row">

        <div class="input-field col s6" ng-hide="ctrl.occupationStep">
            <button class="btn waves-effect waves-light right neutral-green" ng-click="ctrl.saveFirstStep(patient)">
                {{ 'Siguiente' | uppercase }}
            </button>
        </div>
    </div>

 </form>

