<div class="row" ng-init="ctrl.getParameter(true)">
    <form class="col s12">
            <div class="row">
                <h2><span>1</span> {{ 'identificación del usuario' | uppercase }}</h2>
                <div class="col s6">
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="icon_prefix" class="active">Primer nombre</label>
                            <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.patient.firstName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="icon_prefix" class="active">Segundo nombre</label>
                            <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.patient.secondName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="icon_prefix" class="active">Primer apellido</label>
                            <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.patient.firstLastname">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="icon_prefix" class="active">Segundo apellido</label>
                            <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.patient.secondLastname">
                        </div>
                    </div>

                </div>
                <div class="col s6">
                    <div class="row">
                        <div class="input-field col s6">
                            <div class="input-field col s12">
                                <label for="icon_prefix" class="active">Nacionalidad</label>
                                <select id="nationalityList" class="browser-default" ng-options="nationality.name for nationality in ctrl.nationalityList track by nationality.id"
                                        ng-model="ctrl.patient.nationality" ng-init="ctrl.getNationalities()">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="icon_prefix" class="active">Cédula de Identidad</label>
                            <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.patient.document">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <div class="input-field col s12">
                                <select id="genderList" class="browser-default" ng-options="gender.name for gender in ctrl.genderList track by gender.id"
                                        ng-model="ctrl.patient.gender">
                                </select>
                                <label for="icon_prefix" class="active">Sexo</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="icon_prefix" class="active">Fecha de nacimiento</label>
                            <input id="icon_prefix" type="date" class="validate" ng-model="ctrl.patient.birthday">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <h2><span>2</span> {{ 'contacto' | uppercase }}</h2>
                <div class="col s6">
                    <div class="row">
                        <div class="input-field col s6">
                            <div class="input-field col s12">
                                <label for="icon_prefix" class="active">Estado</label>
                                <select id="stateList" class="browser-default" ng-options="state.name for state in ctrl.stateList track by state.id"
                                        ng-model="ctrl.patient.address.state" ng-change="ctrl.loadDistricts(ctrl.patient.address.state)">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <div class="input-field col s12">
                                <label for="icon_prefix" class="active">Parroquia</label>
                                <select id="districtList" class="browser-default" ng-options="district.name for district in ctrl.districtList track by district.id"
                                        ng-model="ctrl.patient.address.district">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="textarea1" class="active">Detalle de dirección</label>
                            <textarea id="textarea1" class="materialize-textarea" ng-model="ctrl.patient.address.detail"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10">
                            <input id="phonenumber" class="validate" ng-model="ctrl.patient.phonenumber" tabindex="4" data-field="metaPhonenumber" >
                            <label for="phonenumber">Teléfono de contacto</label>
                            <span id="metaPhonenumber"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                    <h2><span>3</span> {{ 'escolaridad y ocupación' | uppercase }}</h2>
                    <div class="col s6">
                        <div class="row">
                            <div class="input-field col s6">
                                <div class="input-field col s12">
                                    <label for="icon_prefix" class="active">Escolaridad</label>
                                    <select id="scholarshipList" class="browser-default" ng-options="scholarship.name for scholarship in ctrl.scholarshipList track by scholarship.id"
                                            ng-model="ctrl.patient.scholarship" ng-change="ctrl.toggleScholarship(ctrl.patient.scholarship)">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <label for="icon_prefix" class="active">Título</label> 
                                <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.patient.scholarshipSpecialty" ng-disabled="ctrl.enabledScholarship">
                            </div>
                        </div>

                    </div>
                    <div class="col s6">
                        <div class="row">
                            <div class="input-field col s6">
                                <div class="input-field col s12">
                                    <label for="icon_prefix" class="active">Empleado</label>
                                    <select id="employeeList" class="browser-default" ng-options="employee.name for employee in ctrl.employeeList track by employee.id"
                                            ng-model="ctrl.patient.employee" ng-change="ctrl.toggleOccupation(ctrl.patient.employee)">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <label for="icon_prefix" class="active">Ocupación</label>
                                <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.patient.occupation" ng-disabled="ctrl.enabledOccupation">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <label for="icon_prefix" class="active">Institución en la que labora</label>
                                <input id="icon_prefix" type="text" class="validate" ng-model="ctrl.patient.institution" ng-disabled="ctrl.enabledOccupation">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <h2><span>4</span> {{ 'dinámica familiar' | uppercase }}</h2>
                <div class="col s6">
                    <div class="row">
                        <div class="input-field col s6">
                            <textarea id="income" name="Ingresos" class="materialize-textarea" ng-model="ctrl.patient.income" tabindex="1" data-field="metaIncome"></textarea>
                            <label for="income">Ingreso estimado</label>
                            <span id="metaIncome"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <textarea id="expenses" name="Egresos" class="materialize-textarea" ng-model="ctrl.patient.expenses" tabindex="2" data-field="metaExpenses"></textarea>
                            <label for="expenses">Egreso estimado</label>
                            <span id="metaExpenses"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <div class="input-field col s12">
                                <select id="savingCapacityList" name="Capacidad de ahorro" class="browser-default" ng-options="state.name for state in ctrl.savingCapacityList track by state.id"
                                        ng-model="ctrl.patient.savingCapacity" tabindex="3" data-field="metaSavingCapacity">
                                </select>
                                <label for="savingCapacityList">Tiene usted capacidad de ahorro</label>
                                <span id="metaSavingCapacity"></span>
                            </div>
                        </div>
                    </div>        
                </div>
                <div class="col s6">
                    <div class="row">
                        <div class="input-field col s6">
                            <textarea id="familyDynamics" name="Dinámica familiar" class="materialize-textarea" ng-model="ctrl.patient.familyDynamics" tabindex="4" data-field="metaFamilyDynamics"></textarea>
                            <label for="familyDynamics">Dinámica familiar</label>
                            <span id="metaFamilyDynamics"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="input-field col s6" ng-show="ctrl.occupationStep">
                <button class="btn waves-effect waves-light right neutral-green" ng-click="ctrl.updatePatient(ctrl.patient)">
                    {{ 'Modificar' | uppercase }}
                </button>
            </div>
        </div>
    </form>
</div>