<div class="row">
    <div class="col s11">
        <h1 class="title">Pacientes</h1>
    </div>
    <div class="col s1">
        <button class="btn-floating btn-large waves-effect waves-light green" ui-sref="menu.patient-add({ patientStep: 1 })"><i class="material-icons">add</i></button>
    </div>
</div>

<div class="row" ng-init="ctrl.getPatientList()">
    <div class="row">
        <table>
            <thead>
            <th>
                Cédula
            </th>
            <th>
                Nombre completo
            </th>
            <th>
                Número de consultas
            </th>
            </thead>
            <tbody ng-repeat="patient in ctrl.patientList">
                <tr>
                    <td>
                        {{ patient.personal.nationality + '-' + patient.personal.document }}
                    </td>
                    <td>
                        {{ patient.personal.lastname + ' ' + patient.personal.secondLastname
                            + ', ' + patient.personal.namePersonal  + ' ' + patient.personal.secondName }}
                    </td>
                    <td>
                        <a ui-sref="menu.appointment({ patientId : patient.personal.id })">
                            {{ patient.appointments }}
                        </a>
                    </td>
                    <td>
                        <a ui-sref="menu.patient-update({ patientId: patient.personal.id })">
                            <i class="material-icons">mode_edit</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
