<div class="row" ng-init="ctrl.getPatientList()">
    <div class="row">
        <h1>Listar pacientes</h1>
    </div>
    <div class="row">
        <table>
            <thead>
            <th>
                Cédula
            </th>
            <th>
                Nombre completo
            </th>
            <th>
                Número de consultas
            </th>
            </thead>
            <tbody ng-repeat="patient in patientList">
            <tr>
                <td>
                    {{ patient.document }}
                </td>
                <td>
                    {{ patient.personal.lastname + ' ' + patient.personal.secondLastname
                        + ', ' + patient.personal.namePersonal  + ' ' + patient.personal.secondName }}
                </td>
                <td>
                    <a ui-sref="">
                        {{ patient.appointments }}
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
